# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

UE4Project/Intermediate
UE4Project/Build
UE4Project/Content/Developers
UE4Project/Content/Collections
UE4Project/Saved

extraction
